<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="~/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">İşlemler</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#category">
                        <i class="fas fa-layer-group"></i>
                        <p>Kategori</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="category">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("CategoryList", "Category")">
                                    <span class="sub-item">Kategori Listesi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateCategory", "Category")">
                                    <span class="sub-item">Kategori Ekle</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#destination">
                        <i class="fas fa-road"></i>
                        <p>Destinasyon</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="destination">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("DestinationList", "Destination")">
                                    <span class="sub-item">Destinasyon Listesi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateDestination", "Destination")">
                                    <span class="sub-item">Destinasyon Ekle</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#reservation">
                        <i class="fas fa-calendar"></i>
                        <p>Rezervasyon</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="reservation">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("ReservationList", "Reservation")">
                                    <span class="sub-item">Rezervasyon Listesi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Mesajlar</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Message/Inbox/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-inbox"></i>
                        <p>Gelen Mesajlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Message/Sendbox/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-paper-plane"></i>
                        <p>Gönderilen Mesajlar</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Grafikler</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Chart/Line/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-chart-line"></i>
                        <p>Çizgi Grafiği</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Chart/Bar/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-chart-area"></i>
                        <p>Bar Grafiği</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Chart/Pie/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-chart-pie"></i>
                        <p>Pasta Grafiği</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Chart/Doughnut/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="far fa-circle"></i>
                        <p>Donut Grafiği</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Ödeme Yöntemi</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/CreditCard/Index/"
                       class="collapsed"
                       aria-expanded="false">
                        <i class="fas fa-credit-card"></i>
                        <p>Kredi Kartı</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>